nav{
    background-color: aquamarine;
}

nav a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a.active{
    background-color: blue;
}

/*Xử lí giao diện kích thước màn hình tối đa 768px*/
@media all and (max-width: 768px) {
    h2{
        text-align: center;
        font-size: 7vw;
    }
    nav{
        background-color: red;
    }
    nav a{
        width: 100vw;
    }
}