.phandau{
    grid-template-columns: 20% 0% 20%;
    background-color: #f63f2d;
    width: 100%;
    height: 120px;
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.menu2{
    width: 100%;
    height: 100px;
    background-color: rgb(210, 210, 210);
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}
.menu2 a{
    margin: 80px;
}
.nd1{
    height: 250px;
    display: flex;
    width: 100%;
}
.a1 {
    background-color: pink;
    border: 1px solid black ;
    height: 250px;
    width: 20%;
    margin: 30px;
}
.luot{
    font-size: 13px;
    color: gray;
    float: right;
}
.tien{
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}
.gia{

    margin-left: 5px;
    font-size: 20px;
    color: red;
}
.a1 p{
    
    margin-left: 5px;
}